* text=auto eol=lf

# All source code in UNIX format
*.c   text diff=cpp
*.cpp text diff=cpp
*.h   text diff=cpp
*.hpp text diff=cpp
*.s   text diff=cpp
*.ld  text diff=cpp

# Binary files
*.bin  binary
*.elf  binary
*.dfu  binary
*.png  binary
*.pdf  binary
*.doc  binary
*.docx binary

# Linux
*.sh      text eol=lf
*.rc      text eol=lf
*.service text eol=lf

# Windows/MSYS
*.bat text eol=crlf
*.ps* text eol=crlf
